<body>
  <nav-bar picture='roadTripPicture'></nav-bar>
  <div class='expense-split-body'>
    <div class='expense-list'>
      <ul>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>

      </ul>
    </div>
    <div class='expense-adder'>
      <input id='cost-input' placeholder="Total Cost"></input>
      <p>
        <a class='dropdown-button btn' data-activates='dropdown1'>Category</a>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a>one</a></li>
          <li><a>two</a></li>
          <li><a>three</a></li>
        </ul>
      </p>
    </div>
  </div>
</body>
