<head>
  <title>Trip Money</title>
</head>
<body>
  <div class="landing-page">
    <div class="landing-background">
      <div id='pic1'></div>
      <div id='pic2'></div>
    </div>
    <div class='pathway'>
      <a ng-click='flyOrDrive()' class="waves-effect waves-light btn" id='new-trip-button'>New Trip</a>
      <a ng-click='checkForCurrentTrip()' class="waves-effect waves-light btn" id='current-trip-button'>Current Trip</a>
      <a ui-sref='trips.pastTrips' class="waves-effect waves-light btn" id='past-trips-button'>Past Trips</a>
    </div>
  </div>
</body>
