<body>
  <nav-bar picture='roadTripPicture'></nav-bar>
  <section class='past-trips-list'>
    <ul>
      <li><i class='material-icons'>done</i><a ui-sref='trips.pastTripSummary'>trip1</a></li>
      <li><i class='material-icons'>done</i>trip2</li>
      <li><i class='material-icons'>done</i>trip3</li>
      <li><i class='material-icons'>done</i>trip4</li>
      <li><i class='material-icons'>done</i>trip5</li>
      <li><i class='material-icons'>done</i>trip6</li>
    </ul>
  </section>
</body>
