<body>
  <div class='expense-split-body'>
    <div class='expense-list'>
      <ul>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        <li>expense</li>
        
      </ul>
    </div>
    <div class='expense-adder'>
      <input id='cost-input' placeholder="Total Cost"></input>
      <p>
        <button class='dropdown-button btn' data-activates='dropdown1'>Category</button>
        <ul id='dropdown1' class='dropdown-content'>
          <li><button>one</button></li>
          <li><button>two</button></li>
          <li><button>three</button></li>
        </ul>
      </p>
    </div>
  </div>
</body>
