<body>
  <nav-bar picture='roadTripPicture'></nav-bar>
  <div class='new-trip-body'>
    <form class='trip-input'>
      <input ng-model='departDate' id='depart-date' placeholder="Departure Date" type='date' class='datepicker'></input>
      <input ng-model='returnDate' id='return-date' placeholder="Return Date" type='date' class='datepicker'></input>
      <input ng-model='city' id='city' placeholder='City'></input>
      <input ng-model='state' id='state' placeholder="State"></input>
      <input ng-model='description' id='description' placeholder="Short Description"></input>
    </form>
    <button ng-click='newTrip(departDate, returnDate, city, state, description)' class="waves-effect waves-light btn" id='submit-new-trip'>Submit New Trip</button>
  </div>
</body>
