<body>
  <nav-bar picture='roadTripPicture'></nav-bar>
  <div>
    <ul class='past-trip-expense-list'>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
      <li>Expense</li>
    </ul>
  </div>
</body>
