/*initial landing page*/
.landing-page {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.landing-background {
  display: flex;
  position: absolute;
}
#pic1 {
  height: 100vh;
  width: 50vw;
  background-image: url('../pictures/roadtrip2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#pic2 {
  height: 100vh;
  width: 50vw;
  background-image: url('../pictures/airplane.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pathway {
  height: 175px;
  width: 500px;
  background: #e53935;
  position: absolute;
  margin-left: 31%;
  text-align: center;
  margin-top: 20%;
  padding-top: 65px;
}

#new-trip-button {
  color: white
}
#current-trip-button {
  color: white
}
#past-trips-button {
  color: white
}

/*trips main page*/
.top-pic {
  width: 100vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

.nav-bar {
  width: 100vw;
  height: 10vh;
  background: black;
  text-align: center;
  padding-top:1.2%;
  margin-top: 0;
}
#new-trip-nav {
  color: yellow;
  background-color: black;
}
#current-trip-nav {
  color: yellow;
  background: black;
}
#past-trips-nav {
  color: yellow;
  background: black;
}

/*new trip page*/
.new-trip-body {
  height: 100vh;
  width: 100vw;
  background: white;
  padding-top: 5%;
  text-align: center;
}
.trip-input {
  background: #0d47a1;
  color: white;
  height: 60vh;
  width: 75vw;
  margin: auto;
  padding-top: 2%;
  position: relative;
}
#depart-date {
  width: 50%;
  /*position: absolute;*/
}
#return-date {
  width: 50%;
  /*position: absolute;*/
}
#city {
  width: 50%;
  /*position: absolute;*/
}
#state {
  width: 50%;
  /*position: absolute;*/
}
#description {
  width: 50%;
  /*position: absolute;*/
}
#submit-new-trip {
  background-color: #0d47a1;
  margin-top: 5%;
}


/*current trips page*/
.expense-split-body {
  height: 1000px;
  width: 100%;
  position: relative;
  color: white;
  text-align: center;
}
.expense-list {
  position: absolute;
  height: 100%;
  width: 50%;
  background: gray;
}
.expense-adder {
  position: fixed;
  height: 400px;
  width: 450px;
  background: black;
  right: 80px;
  margin-top: 25px;
  text-align: center;
}
#cost-input {
  width: 50%;
}

.browser-default {
  background-color: black;
  color: yellow;
  width: 75%;
  margin: auto;
}

/*past trips*/
.past-trips-list {
  text-align: center;
}

/*past trip summary*/
.past-trip-expense-list {
  text-align: center;
}
